/* GENERAL STYLES */
.block-title {
    border: none;
}

h1,
.h1
.nav-primary a,
.breadcrumbs li,
.footer,
.footer button,
label,
.block-title h2,
.block-title h3,
.block-title strong {
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
}

a,
.block-title h2,
.block-title h3,
.block-title strong,
.footer .block-title,
.footer address,
/* product listing*/
.price-box .price,
/* product page*/
.product-view .product-shop .product-name .h1,
.product-view .product-img-box .product-name h1,
.product-view .product-shop .price-box .regular-price .price,
.product-view .product-shop .price-box .special-price .price,
.product-view .product-shop .price-box .full-product-price .price,
/* hover */
a:hover,
.breadcrumbs a:hover,
.footer .links a:hover {
    color: #7eb701;
}

.button,
.cart-table .product-cart-actions .button,
#co-shipping-method-form .buttons-set .button,
.footer .button {
    background-color: #7eb701;
}

.button:hover,
.cart-table .product-cart-actions .button:hover,
#co-shipping-method-form .buttons-set .button:hover,
.footer .button:hover {
    background-color: #4f5444;
}

.availability.in-stock {
    color: #474746;
}

.no-touch .product-image:hover {
    border-color: #7eb701;
}

@media only screen and (min-width: 771px) {
    .skip-cart,
    .nav-primary a:hover,
    .nav-primary li:hover > a {
        color: #7eb701;
    }
}

.slick-slide img {
    margin: 0 auto;
}
.slick-slider .slick-slide {
    padding: 0;
    overflow: hidden;
}

@media (max-width: 768px ) {
    .slick-slide img {
        width: 100%;
    }
}


/* HEADER */
.header-language-background {
    padding: 0 10px;
}
