/* FONT FAMILY */
body, button, input, select, table, textarea {
    font-family: "Helve tica Neue", Verdana, Arial, sans-serif;
}

h1,
.h1,
.data-table th,
.header-minicart .block-subtitle,
.header-language-container,
.page-header,
.nav-primary a,
.breadcrumbs li,
.footer,
.footer button,
label,
.block-title h2,
.block-title h3,
.block-title strong,
#search {
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
}

.products-grid .product-name,
.products-list .product-name {
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
}

.product-collateral > dl > dt {
    font-family: "Helve tica Neue", Verdana, Arial, sans-serif;
}
